@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppi');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
}


body {
	background-image: url('../images/back1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

.header {
	position: fixed;
	background-color: #162938;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1px 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

::-webkit-scrollbar {
	width: 1px;
	background: #162938;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 6px;
}

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 10px;
}

.navigation a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.navigation .btnlogin-user {
	width: 90px;
	height: 30px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 10px;
	transition: 0.5s;
}

.navigation .btnlogin-user:hover {
	background: #fff;
	color: #162938;
}

.navigation .btnlogin-admin {
	width: 140px;
	height: 30px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 10px;
	transition: 0.5s;
}

.navigation .btnlogin-admin:hover {
	background: #fff;
	color: #162938;
}

.middle {
	text-align: center;
	padding-top: 50px;
}

.filter {
	background-color: rgba(248, 249, 250, 0.1);
}

.card {
	border: 2px solid rgb(225, 225, 225);
	background-color: rgba(0, 0, 0, 0.2);
	padding: 7PX;
}

.custom {
	margin-top: 80px;
}

.card-header {
	border-color: whitesmoke;
	background: white;
	background: transparent;
	backdrop-filter: blur(2px);
}




.card-body {
	border-color: whitesmoke;
	background: white;
	background: transparent;
	backdrop-filter: blur(2px);
}