@charset "UTF-8";

/*
.table-bordered {
	text-align: center;
	padding: 10px;
}

.left-align {
	text-align: left;
	padding-left: 5px;
	border: 1px solid black;
}*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-edit {
	margin-top: 100px;
}

.container1 {
	margin-top: 50px;
}

.container-m-100 {
	margin-top: 100px;
}

@page {
	size: auto;
	margin: 1in;
	/* Adjust margins as needed */
}

/* Example: Hide elements when printing */
@media print {
	.container .table-bordered {
		font-size: 15px;
	}

	.container1 {
		margin: 0 auto;
	}

	.no-print,
	label,
	.dataTables_info,
	.dataTables_paginate {
		display: none;
	}

	table {
		margin: none;
		/* Center the table horizontally */
	}
}

header {
	position: fixed;
	background-color: #162938;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

header nav {
	height: 53px;
	background-color: #123455
}



.dropdown-menu li {
	position: relative;
}

.dropdown-menu .dropdown-submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
	right: 100%;
	left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
	display: block;
}