@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

body {
    background-image: url('../images/back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.header {
    position: fixed;
    background-color: #162938;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation .btnlogout-user {
    width: 90px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.5s;
}

.navigation .btnlogout-user:hover {
    background: #fff;
    color: #162938;
}

.container {
    padding-top: 50px;
    color: white;
}

.card {
    border: 2px solid rgb(225, 225, 225);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 7PX;
}

.custom {
    margin-top: 80px;
}

.card-header {
    color: white;
    border-color: whitesmoke;
    background: transparent;
    backdrop-filter: blur(2px);
}

.card-body {
    color: white;
    border-color: whitesmoke;
    background: white;
    background: transparent;
    backdrop-filter: blur(2px);
}

.table .table-bordered {
    background: transparent;
    color: white;
    width: "100%";
    border-collapse: collapse;
}

.container .row .col-md-6 .card .card-body .table-bordered th,
.container .row .col-md-6 .card .card-body .table-bordered td {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.custom-card-project {
    max-height: 118vh;
    overflow-y: auto;
}

.custom-card-review {
    max-height: 52vh;
    overflow-y: auto;
}